<h1><span>style gallery</span></h1>

<div align="left">
	<a href="/style/newstyle" class="button">New style</a>
</div>

<ul class="gallery">
	<% styles.forEach((style)=> { %>
		<li>
			<a href="/style/<%= style._id %>">
				<img src="images/<%= style.imageUrl %>" alt="" width="300px" height="300px">
			</a>
		</li>
		<%})%>

</ul>