<h1><span>Upload new style</span></h1>
<form ref='uploadForm' id='uploadForm' action="/style/upload" method="post" encType="multipart/form-data">
	<input type="text" name="title" id="title" placeholder="Title" required>
	<input type="text" name="description" id="description" placeholder="Description" required>
	<input type="file" name="sampleFile" required>
	<input type="submit" name="upload" id="send" value="Upload">
</form>